extends layout
block layout-content    
    body
        .container
            .row
                .col-12.text-center 
                    h2 Home Automation
            .row
                div(class="h-divider")
            .row.align-items-start
                .col.text-center
                    .mid
                        h4 Main Setup
                        label.rocker
                            input(type="checkbox" onchange="mainSetup(this);")
                            span.switch-left On
                            span.switch-right Off
                        h4 Monitors
                        label.rocker
                            input(type="checkbox" onchange="monitors(this);")
                            span.switch-left On
                            span.switch-right Off
                        h4 RGB Lights
                        label.rocker
                            input(type="checkbox" onchange="rgb(this);")
                            span.switch-left On
                            span.switch-right Off
                        h4 Chargers
                        label.rocker
                            input(type="checkbox" onchange="chargers(this);")
                            span.switch-left On
                            span.switch-right Off
                .col.text-center
                    .mid
                        h4 Servers
                        label.rocker
                            input(type="checkbox" onchange="servers(this);")
                            span.switch-left On
                            span.switch-right Off
                        h4 etc 1
                        label.rocker
                            input(type="checkbox" onchange="etc1(this);")
                            span.switch-left On
                            span.switch-right Off
                        h4 etc 2
                        label.rocker
                            input(type="checkbox" onchange="etc2(this);")
                            span.switch-left On
                            span.switch-right Off
                        h4 etc 3
                        label.rocker
                            input(type="checkbox" onchange="etc3(this);")
                            span.switch-left On
                            span.switch-right Off
    <script src="js/homeauto.js"></script>